.messageContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.icon {
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #4a4a4a;
}

.messageBubble {
  background-color: #fff4d6; /* Light cream message bubbles */
  padding: 10px 15px;
  border-radius: 15px;
  color: #333333;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
}

.assistant {
  background-color: #f2e5bc;
}

.user {
  background-color: #d7ecb8;
}

.messageBubble p {
  margin: 0;
}
